body {
    background-color: rgb(255, 245, 230);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* 使盒子在垂直方向上排列 */
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 75%;
    margin-top: 5.15%;
    overflow: hidden;
    background-color: #333;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 72px;
    text-decoration: none;
    font-size: 28px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

@media (max-width: 600px) {
    .navbar {
        width: 100%; /* 将宽度设置为100%，以适应手机屏幕 */
        overflow: hidden;
        background-color: #333;
        border-radius: 10px;
        display: flex;
        justify-content: center;
    }

    .navbar a {
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 10px; /* 调整链接的内边距 */
        text-decoration: none;
        font-size: 20px; /* 减小链接的字体大小 */
    }

    .navbar a:hover {
        background: #ddd;
        color: black;
    }
}